html, body {
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 5rem;
  background: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
}

.h1 a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  margin-left: 3rem;
}

li > a{
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}


li::after {
  content: '';
  width: 0rem;
  height: 0.15rem;
  background-color: #fff;
  display: block;
  border-radius: 0.2rem;
  margin: 0.2rem auto 0 auto;
  transition: all 0.3s ease-in-out;
}

li:hover::after {
  width: 2rem;
}

.hero-banner {
    /* Sizing and positioning */
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-rows: 300x 300px;
  gap: 10px;
  color: black;
  
}

.image-container {
  height: 300px;
  width: 800px;
  }
  
  .image-container img {
  max-height: 100%;
  max-width: 100%;
  }

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.container {
  position: relative;
  text-align: right;
  color: black;
  bottom: 1px;
  right: 16px;
}

.About-Me {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

.containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "topRow topRow"
    "leftSidebar rightContent"
    "leftSidebar rightContent"
    ;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.containerGrid div{

  background-color: green;
}
.topRow {
  grid-area: topRow;
  background-image: url("../images/02-portfolio-4.jpg");
}
.leftSidebar {
  grid-area: leftSidebar;
}
.rightContent {
  grid-area: rightContent;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
